<header class="site-header">
    <div class="wrapper">
        <h1 class="brand">Plataforma Cavalls</h1>
  
        <nav class="main-nav">
            <ul>
                <li><a href="/public/index.html">Inici</a></li>
                <li><a href="/src/pages/anuncis.html">Anuncis</a></li>
                <button id="btn-open-login" class="link-button">
                    Login
                </button>
                <button id="btn-open-register" class="link-button">
                    Register
                </button>
            </ul>
  
        </nav>
    </div>
</header>
  